<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>manavweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>demoservlet</display-name>
    <servlet-name>demoservlet</servlet-name>
    <servlet-class>demoservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demoservlet</servlet-name>
    <url-pattern>/demoservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>httpdemoservlet</display-name>
    <servlet-name>httpdemoservlet</servlet-name>
    <servlet-class>httpdemoservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>httpdemoservlet</servlet-name>
    <url-pattern>/httpdemoservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>demoservletcheck</display-name>
    <servlet-name>demoservletcheck</servlet-name>
    <servlet-class>demoservletcheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demoservletcheck</servlet-name>
    <url-pattern>/demoservletcheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>timecheck</display-name>
    <servlet-name>timecheck</servlet-name>
    <servlet-class>timecheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>timecheck</servlet-name>
    <url-pattern>/timecheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkdemointerfaceservlet</display-name>
    <servlet-name>checkdemointerfaceservlet</servlet-name>
    <servlet-class>checkdemointerfaceservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkdemointerfaceservlet</servlet-name>
    <url-pattern>/checkdemointerfaceservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkservlet</display-name>
    <servlet-name>checkservlet</servlet-name>
    <servlet-class>packmanav.checkservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkservlet</servlet-name>
    <url-pattern>/checkservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>genericServlet</display-name>
    <servlet-name>genericServlet</servlet-name>
    <servlet-class>genericServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>genericServlet</servlet-name>
    <url-pattern>/genericServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>register.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Calculator</display-name>
    <servlet-name>Calculator</servlet-name>
    <servlet-class>Calculator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculator</servlet-name>
    <url-pattern>/Calculator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>indexlogin.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>myclass</display-name>
    <servlet-name>myclass</servlet-name>
    <servlet-class>myclass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myclass</servlet-name>
    <url-pattern>/myclass</url-pattern>
  </servlet-mapping>
</web-app>